html {
	box-sizing: border-box; /*елемент будет пытаться вметстить весь контэнт в нутри а не раширяться*/
	line-height: 1;
}

*,
*::before,
::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
	outline: none;
}

body {
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}



.button{
  width: 150px;
  align-items: center;
  line-height:2.5;
}